@font-face {
    font-family: "Free Pixel";
    src: url("../fonts/FreePixel-Regular.woff2") format("woff2"),
        url("../fonts/FreePixel-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sonic Mania";
    src: url("../fonts/Sonic_Mania_Leaderboard.woff2") format("woff2"),
        url("../fonts/Sonic_Mania_Leaderboard.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #4a3426;
    --secondary: #301c0f;

    --home: #632b26;

    --on-surface: #4a3426;
    --on-surface-variant: #ffffff;
    --surface-0: #d0bfa4;
    --surface-1: radial-gradient(#fff7e7, #e8e0a5);
    --surface-2: radial-gradient(#e4c2a0, #a07850);
    --surface-3: radial-gradient(#ab7537 14%, #42280b 80%, #31200c 100%);

    --linear-pink: linear-gradient(90deg, #e34ca7, #e48ab6);
    --linear-green: linear-gradient(90deg, #bbe34c, #a2be56);
}
